<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Move Cargo a Transportation Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Move Cargo Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>

    <script type="text/javascript">

        $('#topheader .navbar-nav a').on('click', function () {
            $('#topheader .navbar-nav').find('li.active').removeClass('active');
            $(this).parent('li').addClass('active');
        });
    </script>


    <!-- //custom-theme -->
    <link href="@Url.Content("~/Content/")css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/Content/")css/JiSlider.css" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/")css/flexslider.css" type="text/css" media="screen" property="" />
    <!-- Owl-carousel-CSS -->
    <link href="@Url.Content("~/Content/")css/owl.carousel.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/")css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome-icons -->
    <link href="@Url.Content("~/Content/")css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,900" rel="stylesheet">
</head>

<body>
    <!-- banner -->
    <div class="main_section_agile">
        <div class="agileits_w3layouts_banner_nav">
           
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        @*<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
                        <h1><a class="navbar-brand" href="#"><i class="fa fa-truck" aria-hidden="true"></i>Cargo Management System@*<span>For Services</span>*@</a></h1>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div id="topheader">
                        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                            <nav class="link-effect-2" id="link-effect-2">
                                <ul class="nav navbar-nav">

                                    <li class="active"><a href="@Url.Action("InnerHome", "User")">Home<span class="sr-only">(current)</span></a></li>
                                   
                                    <li>@Html.ActionLink("View-Request", "View_Request", "User")  </li>
                                    <li>@Html.ActionLink("Logout", "Logout", "User")   </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
</nav>
                </div>
                <div class="clearfix"> </div>
            </div>

    <!-- banner -->




    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            Modal content
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="signin-form profile">
                        <div class="login-form">
                            <h5>Need To <span>Transport</span>?</h5>
                            <p>
                                Ut enim ad minima veniam, quis nostrum
                                exerc ullam corporis nisi ut aliqui
                            </p>
                            <form action="#" method="post">
                                <input type="text" class="email" name="name" placeholder="Name" required="">
                                <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
                                <select class="form-control option-w3ls">
                                    <option>Transport From</option>
                                    <option>Albania</option>
                                    <option>Belgium</option>
                                    <option>Cameroon</option>
                                    <option>Dominica</option>
                                    <option>France</option>
                                    <option>Jersey</option>
                                </select>
                                <select class="form-control option-w3ls">
                                    <option>Transport To</option>
                                    <option>Colombia</option>
                                    <option>Indonesia</option>
                                    <option>Japan</option>
                                    <option>Lebanon</option>
                                    <option>Luxembourg</option>
                                    <option>Montserrat</option>
                                </select>
                                <input type="submit" value="Get started">
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <h5>Move Cargo</h5>
                        <img src="@Url.Content("~/Content/")images/2.jpg" alt=" " class="img-responsive" />
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur? Quis autem
                            vel eum iure reprehenderit qui in ea voluptate velit
                            e.
                            <i>
                                " Quis autem vel eum iure reprehenderit qui in ea voluptate velit
                                esse quam nihil molestiae consequatur.
                            </i>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- about -->

    <div>
        @RenderBody()
    </div>



    <!-- //about -->
    <!-- banner-bottom -->
    <!-- banner-bottom -->
    <!-- //banner-bottom -->
    <!-- team -->
    <!-- team -->

    <div class="events">
        <ul id="flexiselDemo1">
            <li>
                <div class="w3layouts_event_grid">
                    <div class="w3_agile_event_grid1">
                        <img src="@Url.Content("~/Content/")images/1.jpg" alt=" " class="img-responsive" />
                        <div class="w3_agile_event_grid1_pos">
                            <p>23 June 2017</p>
                        </div>
                        <div class="agile_event_grid1_pos">
                            <ul>
                                <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                                <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agileits_w3layouts_event_grid1">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Freights Delivered</a></h5>
                        <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts_event_grid">
                    <div class="w3_agile_event_grid1">
                        <img src="@Url.Content("~/Content/")images/8.jpg" alt=" " class="img-responsive" />
                        <div class="w3_agile_event_grid1_pos">
                            <p>25 June 2017</p>
                        </div>
                        <div class="agile_event_grid1_pos">
                            <ul>
                                <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                                <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agileits_w3layouts_event_grid1">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Vehicles Owned</a></h5>
                        <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts_event_grid">
                    <div class="w3_agile_event_grid1">
                        <img src="@Url.Content("~/Content/")images/7.jpg" alt=" " class="img-responsive" />
                        <div class="w3_agile_event_grid1_pos">
                            <p>28 June 2017</p>
                        </div>
                        <div class="agile_event_grid1_pos">
                            <ul>
                                <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                                <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agileits_w3layouts_event_grid1">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Clients Worldwide</a></h5>
                        <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts_event_grid">
                    <div class="w3_agile_event_grid1">
                        <img src="@Url.Content("~/Content/")images/2.jpg" alt=" " class="img-responsive" />
                        <div class="w3_agile_event_grid1_pos">
                            <p>30 June 2017</p>
                        </div>
                        <div class="agile_event_grid1_pos">
                            <ul>
                                <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                                <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agileits_w3layouts_event_grid1">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Air Shipping</a></h5>
                        <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3layouts_event_grid">
                    <div class="w3_agile_event_grid1">
                        <img src="@Url.Content("~/Content/")images/6.jpg" alt=" " class="img-responsive" />
                        <div class="w3_agile_event_grid1_pos">
                            <p>2 April 2017</p>
                        </div>
                        <div class="agile_event_grid1_pos">
                            <ul>
                                <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18</a></li>
                                <li><a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>21</a></li>
                                <li><a href="#"><i class="fa fa-share" aria-hidden="true"></i>13</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="agileits_w3layouts_event_grid1">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Direct services</a></h5>
                        <p>viverra ipsum ac, convallis mauris. Sed quis congue turpis, cursus rhoncus nibh.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- //blog -->
    <!-- services -->
    <!-- //services -->
    <!-- stats -->
    <!-- //stats -->
    <!-- agile_testimonials -->
    <!-- //agile_testimonials -->
    <!-- footer -->
    @*<style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }
    </style>*@

    <div class="footer">
        <div class="container">



           <div class="agileinfo_copyright">
                <p>© 2022 Move Cargo. All Rights Reserved</p> @*Design by <a href="#">Nisarg & Shivani</a>*@
            
        </div>
    </div>
        </div>
    <!-- //footer -->
    <!-- start-smoth-scrolling -->
    <!-- js -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="@Url.Content("~/Content/")js/JiSlider.js"></script>
    <script>
			$(window).load(function () {
				$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
			})
    </script>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
    <!-- stats -->
    <script src="@Url.Content("~/Content/")js/jquery.waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/")js/jquery.countup.js"></script>
    <script>
			$('.counter').countUp();
    </script>
    <!-- //stats -->
    <script type="text/javascript">
$(function(){
  $("#bars li .bar").each(function(key, bar){
    var percentage = $(this).data('percentage');

    $(this).animate({
      'height':percentage+'%'
    }, 1000);
  })
})
    </script>
    <script src="@Url.Content("~/Content/")js/simplePlayer.js"></script>
    <script>
				$("document").ready(function() {
					$("#video").simplePlayer();
				});
    </script>

    <!-- flexisel -->
    <script type="text/javascript" src="@Url.Content("~/Content/")js/jquery.flexisel.js"></script>
    <script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint:480,
						visibleItems: 1
					},
					landscape: {
						changePoint:667,
						visibleItems:2
					},
					tablet: {
						changePoint:800,
						visibleItems: 3
					}
				}
			});

		});
    </script>
    <!-- //flexisel -->
    <!-- requried-jsfiles-for owl -->
    <script src="@Url.Content("~/Content/")js/owl.carousel.js"></script>
    <script>
									    $(document).ready(function() {
									      $("#owl-demo2").owlCarousel({
									        items : 1,
									        lazyLoad : false,
									        autoPlay : true,
									        navigation : false,
									        navigationText :  false,
									        pagination : true,
									      });
									    });
    </script>
    <!-- //requried-jsfiles-for owl -->


    <script type="text/javascript" src="@Url.Content("~/Content/")js/move-top.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/")js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>

    <!-- start-smoth-scrolling -->
    <!-- for bootstrap working -->
    <script src="@Url.Content("~/Content/")js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>